@import url('https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600&display=swap');

:root {
  --white: #fff;
  --background: #e0e5eb;
  --background-item: #f0f0f0;
  --gradient: linear-gradient(to right, #a994e6, #7e78ed);
  --text: #2d2d2d;
}

/* Reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: inherit;
  cursor: pointer;
}

/* Reset */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-color: var(--background);
}

.overlay {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  inset: 0;
  transition: all .3s ease;
}

.overlay--active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(119, 119, 119, 0.3);
  z-index: 2;
}

.mobile {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 320px;
  min-height: 720px;
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.2);
}

.mobile__top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.main {
  flex: 1 1 auto;
}

.content__container {
  max-width: 310px;
  margin: 0 auto;
}

/* Select */
.content__select {
  position: relative;
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  z-index: 10;
}

.content__select-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.25rem;
}

.content__select-name {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.content__select-icon {
  font-size: .6rem;
  transition: all .3s ease;
}

.content__select-icon--open {
  transform: rotate(-180deg);
}

.content__select-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 0px;
  width: 120%;
  top: 130%;
  left: -10%;
  right: 0;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.content__select-list-item {
  font-weight: 500;
  width: 100%;
  padding: 10px 10%;
  text-align: left;
  cursor: pointer;
  transition: all .3s ease;
}

.content__select-list-item:hover {
  color: #7e78ed;
}

.content__select-list-item.selected {
  color: #7e78ed;
}

/* Rooms */
.rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.rooms__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  max-width: 148px;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  background-color: var(--background-item);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s ease;
}

.rooms__item.selected {
  color: var(--white);
  background-image: var(--gradient);
}

.rooms__item.selected .rooms__item-image {
  opacity: 1;
}

.rooms__item:hover {
  color: var(--white);
  background-image: var(--gradient);
}

.rooms__item:hover .rooms__item-image {
  opacity: 1;
}

.rooms__item-open {
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
}

.rooms__item-image {
  font-size: 57px;
  opacity: 0.7;
}

.rooms__item-name {
  position: relative;
  text-align: center;
  z-index: 1;
}

.settings {
  display: none;
}

.settings__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  margin-bottom: 20px;
}

.settings__type {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px 30px;
  background-color: var(--background-item);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.settings__type:hover {
  color: var(--white);
  background-image: var(--gradient);
  background-color: transparent;
}

.settings__type:hover .settings__type-ico {
  opacity: 1;
}

.settings__type:hover .settings__type-name {
  color: var(--white);
}

.settings__type.selected {
  color: var(--white);
  background-image: var(--gradient);
  background-color: transparent;
}

.settings__type.selected .settings__type-name {
  color: var(--white);
}

.settings__type.selected .settings__type-ico {
  opacity: 1;
}

.settings__type-open {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.settings__type-ico {
  font-size: 2.4em;
  opacity: 0.7;
  transition: all .3s ease;
  z-index: 1;
}

.settings__type-name {
  font-size: 12px;
  color: var(--text);
  transition: all .3s ease;
  z-index: 1;
}

.settings__screens {}

.settings__screen {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.settings__screen.selected {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  opacity: 1;
  visibility: visible;
}

.settings__screen-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--text);
}

.settings__screen-temperature {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  cursor: pointer;
}

.settings__temperature-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  width: 70%;
  height: 70%;
  color: var(--text);
  border-radius: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  user-select: none;
  transition: all .3s ease;
}

.settings__temperature-info::before {
  position: absolute;
  content: "";
  display: block;
  inset: 5%;
  border-radius: 50%;
  border: 1px solid rgb(161, 161, 161);
}

.dots-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(6deg);
  transform-origin: center;
}

.dots,
.line,
.line-active,
.round,
.separate-lines,
.separate-dots {
  fill: transparent;
  stroke: var(--background-item);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-dasharray: 0 21;
  transition: all .3s ease;
}

.line,
.line-active {
  stroke-width: 1px;
  stroke-dasharray: 270 270;
  transform: rotate(54deg);
  transform-origin: center;
}

.line-active {
  stroke: #707070;
  stroke-dasharray: 47 270;
  /* от 47 до 270 */
}

.round {
  stroke-width: 7px;
  stroke-dasharray: 0 276;
  transform: rotate(122deg);
  transform-origin: center;
}

.separate-lines,
.separate-dots {
  stroke: white;
  transform: rotate(55deg);
  transform-origin: center;
}

.separate-dots {
  stroke-dasharray: 53 313;
  transform: rotate(54deg);
}

.separate-lines {
  stroke-dasharray: 45 270;
}

.settings__power-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.settings__power {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  background-image: var(--gradient);
  border-radius: 50%;
  transition: all .3s ease;
}

.settings__power.off {
  background-color: var(--background-item);
  background-image: none;
}

.settings__power.off .settings__power-ico {
  color: black;
}

.settings__power:hover {
  box-shadow: 0 0 10px #7e78ed;
}

.settings__power-ico {
  font-size: 26px;
  color: var(--white);
  padding-top: 1px;
  opacity: 0.6;
  transition: all .3s ease-in-out;
}

.settings__power:hover .settings__power-ico {
  opacity: 1;
}

.power__label {
  display: block;
  font-size: 14px;
  color: var(--text);
  text-align: center;
}

.settings__save-button {
  max-width: 255px;
  width: 100%;
  color: var(--white);
  padding: 15px 10px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-image: var(--gradient);
  border-radius: 50px;
  transition: all .3s ease;
}

.settings__save-button:hover {
  box-shadow: 0 0 10px #7e78ed;
}

.settings__screen-sun-ico {
  font-size: 34px;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 8px;
  color: #898989;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 110px;
  height: 272px;
  background-color: var(--background-item);
  margin: 0 auto;
  border-radius: 10px 10px 30px 30px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.slider__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  height: 10%;
  min-height: 10%;
  font-size: 18px;
  color: var(--white);
  background-image: var(--gradient);
  user-select: none;
  pointer-events: none;
  transition: all .3s ease;
}

.settings__switch {
  position: relative;
  width: 58px;
  height: 29px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--background-item);
  border-radius: 60px;
  transition: all .3s ease;
}

.settings__switch.included .settings__switch-item {
  left: 50%;
  background-image: var(--gradient);
}

.settings__switch .settings__switch-item {
  left: 0%;
  background-image: none;
  background-color: #b0b0b0;
}

.settings__switch-item {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 0%;
  top: 0;
  border-radius: 50%;
  transition: all .5s ease;
}
